models/
features/
bert/model/model/*.pth
bert/model/*.pth
data/csv/
data/toxic_comment/cleaned/
data/*.zip
data/toxic_comment/*.csv
__pycache__/
.vscode/
.ipynb_checkpoints/
checkpoints/av_rnn/*.h5
fast_ai_model/
spare/
*.pkl